h1 {
    text-align: center;
    margin-bottom: 15px;
}
.stand  {
    font-size: 18px;
    margin-left: 52px;
}
.stand .bt {
     display: inline-block;
     height: 42px;
     line-height: 42px;
    position: relative;
     width: 280px;
    font-size: 17px;
    margin: 11px 28px;
}

#shutdownAll {
    left: 740px;
    top: 320px;
    font-size: 26px;
}
#return {
    left: 490px;
    top: 650px;
}
#technicalPage {
    left: 240px;
    top: 320px;
    font-size: 15px;
}
#adminPage {
    left: 860px;
    top: 650px;
    font-size: 15px;
}
#info {
    display: block;
    border: 1px solid #7C979E;
    position: absolute;
    left: 15px;
    top: 650px;
    width: 390px;
    height: 95px;
    color: yellow;
    background-color: transparent;
    font-family: DejaVu Serif;
    font-size: 24px;
}