html {
   scroll-behavior: smooth;
   overflow: hidden;
}

body{
   margin: 0;
   padding: 0;
   background-color: #4D5C5F;
   color: white;
   font-family: Helvetica;
   font-size: 17px;
   font-weight: 400;
   /*overflow: hidden;*/

}

body, a, a:hover {
    cursor: none;
}

img {
   image-rendering: unset;
}

h1 {
   font-size: 26px;
   margin: 0;
   border-bottom: 1px solid #FF3D00;
   padding-bottom: 8px;
}
h1 span {
   color: #FF3D00;
   font-stretch: inherit;
   font-style: initial;
}

#liste h1, #archive h1  {
   font-size: 15px;
   margin: 10px 4px;
   border-bottom: 1px solid #FF3D00;
   padding-bottom: 8px;
   font-weight: 400;
}

#liste h1.content {
   text-align: center;
   border-bottom: none;
   display: block;
   left: 560px;
   position: absolute;
}
#liste h1.content  span {
   font-size: 18px;
   color: #ffffff;
   text-align: center;
}
#liste h1.content  span.AR {
   font-size: 22px;
}

#liste .bt .AR {
   font-size: 14px;
}

h2 {
   margin-top: 0;
   font-size: 20px;
   margin: 0;
   color: #FF3D00;

}
.column > h2 {
    margin-bottom: 20px;
 }

.EN {

}
.AR {
   direction: rtl;
   font-weight: 400;
   font-family: -moz-fixed;
}

.strong {
   font-weight: 400;
}

.hover {
   border: 6px solid transparent;
   padding: 5px;
}
.hover:hover {
   border-bottom: 6px solid #FF3D00;
}
.active {
   padding: 5px;
   border-bottom: 6px solid #FF3D00;
}

.hidden {
   display: none;
}

.fullScreen {
   /*border: 1px solid greenyellow;*/
   width: 1280px;
   height: 797px;
   display: block;
   position: relative;
}

#container {
   position: absolute;
   width: 1280px;
   height: 2400px;
   top:0;
   left: 0;
}
#theme {
   top:0;

}
#liste {

}
#archive {

}
#debug {
   font-family: sans-serif;
   font-size: 12px;
   left: 820px;
   position: absolute;
   top: 655px;
   width: 430px;
   color: #55ff55;
}


/* button */

#btBackParent {
   left: 1142px;
   top: 722px;
   position: absolute;
   height: 50px;
   width: 50px;
   background-image: url("../img/top_64x64.png");
   background-size: 50px 53px;
   background-position: 3px 9px;
   background-repeat: no-repeat;
   padding-bottom: 10px;
   display: none;
   z-index: 1000;
}

#btNextStep {
   left: 874px;
}
#btPreviousStep {
   left: 1006px;
}
#btNextStep, #btPreviousStep  {
   position: absolute;
   top: 718px;
   height: 58px;
   width: 116px;
   text-align: center;
   padding: 0 0 13px 0;
   padding-bottom: 13px;
}
#btNextStep span.EN, #btPreviousStep span.EN {
   padding-bottom: 4px;
}

#btNextStep span.AR, #btPreviousStep span.AR {
   font-size: 16px;
   padding-top: 4px;
}
#btNextStep span, #btPreviousStep span {
   background-color: #37474f;
   display: inline-block;
   width: 100px;
   padding: 4px 8px;
}

#btPagerLeft {
   background-image: url("../img/left_171x173.png");
   position: absolute;
   left: 0px;
   top: 727px;
   background-size: 30px 48px;
   background-repeat: no-repeat;
   height: 48px;
   width: 22px;
   padding-bottom: 7px;
}
#btPagerRight {
   background-image: url("../img/right_174x173.png");
   position: absolute;
   left: 828px;
   top: 727px;
   background-size: 30px 48px;
   background-repeat: no-repeat;
   height: 48px;
   width: 22px;
   padding-bottom: 7px;
}

#btTop, #btTopBis {
   left: 1142px;
   top: 722px;
   position: absolute;
   height: 50px;
   width: 50px;
   background-image: url("../img/top_64x64.png");
   background-size: 50px 53px;
   background-position: 3px 9px;
   background-repeat: no-repeat;
   padding-bottom: 10px;
}

#btListe {
   position: absolute;
   left: 1126px;
   top: 726px;
   background-image: url("../img/liste_175x175.png");
   background-size: 50px 50px;
   background-position: 5px 5px;
   background-repeat: no-repeat;
   height: 50px;
   width: 50px;
}

.bt {
   z-index: 100;
   color: #ffffff;
   font-size: 22px;
   text-decoration: none;
   padding: 5px;
   text-align: center;
   border-bottom: 8px solid #7C979E;
   background-color: #37474F;
   position: absolute;
   height: 90px;
   width: 300px;
   line-height: 85px;
}
.bt:hover, bt:hover {
   border-bottom: 8px solid #FF3D00;
   /*cursor: pointer;*/
}

.bt > span.multilineBt {
   line-height: 22px;
   display: inline-block;
   vertical-align: middle;
   font-size: 17px;
}

.bt > span.multilineBt > span {
   display: block;
}

.bt-active {
   border-bottom: 8px solid #ffd100;
}

#viewer {
   display: block;
   position: absolute;
   height: 630px;
   width: 790px;
   left: 10px;
   top: 75px;
}
#viewer .onePage {
   text-align: center;
   background-image: url("../img/loading.png");
   background-position: 330px 90px;
   background-repeat: no-repeat;
   background-size: 128px 128px;
   min-height: 630px;
}

#viewer .twoPage {
}

#viewer img {
   max-height: 624px;
   max-width: 100%;
   image-orientation: from-image;
   background: none;
}

#info {
   width: 430px;
   position: absolute;
   background-color: #37474f;
   padding: 6px 16px 6px;
   animation-duration: 4s;
   animation-name: opacit;
   height: 606px;
   left: 810px;
   top: 75px;
   border-bottom: 6px solid #FF3D00;
}


#info .hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #282828;
   margin: 1em 0;
   padding: 0;
   border-color: #000000;
}

#info .description {
   margin: 10px 0;
}

#info .description.AR {
   font-size: 20px;
}

#pager {
   left: 8px;
   width: 800px;
   display: block;
   position: absolute;
   top: 797px;
   height: 82px;
   overflow: hidden;
   margin-top: -80px;
   padding-top: -80px;
}


#pager .onePage-miniBox {
   width: 70px;
   height: 60px;
   display: -webkit-inline-flex;
   margin-right: 8px;
   text-align: center;
   top: 0;
   float: right;
}

#pager .onePage-miniBox img {
   max-height: 100%;
   max-width: 100%;
   image-rendering: unset;
   margin: 0 auto;
}

#pager-scroll {
   position: absolute;
   display: none;
   width: 50px;
   height: 60px;
   top: 727px;
   left: 810px;
   background-image: url("../img/triangle_top_down_40x60.png");
   background-color: #37474f;
   background-position: 10px 5px;
   background-repeat: no-repeat;
   background-size: 30px 50px;
}

#pager-scroll:hover {
   background-color: #ff3d00;
}

#pointeur {
   display: none;
   position: absolute;
   height: 100px;
   width: 100px;
   border-left: 1px solid red;
   border-top: 1px solid red;
   color: yellow;
   z-index: 999999;
}


/* bof Tooltop */
.ui-tooltip {
   background: #4D5C5F;
   padding: 10px 20px;
   color: white;
   box-shadow: 0 0 7px black;
   border: 1px solid #000000;
   font-size: 16px;
}
.ui-tooltip .AR {
   font-size: 18px;
}
/* eof Tooltop */




/* bof theme */

#theme-title h1 {
   font-size: 25px;
   border-bottom: none;
   padding-bottom: 0px;
   display: none;
   position: absolute;
   text-align: center;
   top: 340px;
   width: 1280px;
}
#theme-title h1 span.AR {
   font-size: 30px;
}
#theme-title h1.EN {
   left: 310px;
   top: 350px;
   font-size: 24px;
}
#theme-title h1.AR {
   top: 294px;
   right: 320px;
   font-size: 34px;
}
#theme-title img {
   left: 510px;
   display: none;
   position: absolute;
   top: 20px;
   height: 260px;
}
#theme-title h1 span {
   border-bottom: 1px dotted #ff3d00;
   color: #ffffff;
}
#theme-choose > div {
   font-size: 20px;
   margin: 10px 10px 10px 10px;
   display: none;
   position: absolute;
   padding: 6px;
   color: #FF3D00;
}
#theme-choose .EN {
   left: -9px;
   top: 434px;
}
#theme-choose .AR {
   left: 959px;
   top: 430px;
   font-size: 26px;
   width: 300px;
}
#theme-choose .arrow {
   font-size: 22px;
   margin-right: 5px;
}

#ariane {
   display: block;
   width: 1274px;
   left: 4px;
   position: absolute;
   top: 491px;
   font-size: 15px;
}
#ariane div {
   text-align: right;
   right: 0;
   display: inline-block;
   float: right;
}
#ariane span {
   padding: 0 8px;
   display: none;
}
#ariane > span.level1, #ariane > span.level2, #ariane > span.level3 {
   border-left: 1px solid #ff3d00;
}
#ariane > div > span.level1, #ariane > div > span.level2, #ariane > div > span.level3 {
   border-right: 1px solid #ff3d00;
}
#ariane .AR {
   font-size: 17px;
   font-weight: 400;
}
#ariane .start {
   display: none;
   font-size: 16px;
   margin-left: 4px;
   padding: 0;
   padding-left: 0;
}

.col1-2 {
   left: 255px;
}
.col2-2 {
   left: 630px;
}
.col1-3 {
   left: 50px;
}
.col2-3 {
   left: 425px;
 }
.col3-3 {
   left: 800px;
}
.col1-4 {
   left: 5px;
}
.col2-4 {
   left: 326px;
}
.col3-4 {
   left: 646px;
}
.col4-4 {
   left: 965px;
}
.lin2 {
   top: 145px;
}

.line {
   width: 1280px;
   left: 0;
   transition: top 0.5s ease-in-out 0s;
   padding-top: 5px;
   display: none;
   position: absolute;
   z-index: 100;
   padding-bottom: 15px;
}

.X0 {
   height: 228px;
   display: none;
   top: 530px;
}

.X1 {
   height: 108px;
}

.X2 {
   height: 228px;
}

.X3 {
   height: 109px;
}

#theme .bt .EN {
   font-size: 15px;
   margin-top: 6px;
}

.btBackHome {
   display: none;
   width: 45px;
   height: 50px;
   left: 1213px;
   position: absolute;
   top: 731px;
   background-image: url("../img/home_195x175.png");
   background-size: 50px 53px;
   background-repeat: no-repeat;
   padding-bottom: 0;
   display: block;
   margin-left: 2px;
   padding-left: 2px;
   z-index: 1000;
}
/* ================================= */

.go-AlYaaSta {
   left: 112px;
}
.go-AlBuSaiSta {
   left: 499px;
}
.go-ImaOma {
   left: 878px;
}


.go-AlYaaSta-X3c {
   left: 690px;
}
.go-AlYaaSta-X3d {
   left: 990px;
}
.go-ImaOma-X3a {
   left: 43px;
}
.go-ImaOma-X3b {
   left: 345px;
}
.go-ImaOma-X3c {
   left: 653px;
}
.go-ImaOma-X3d {
   left: 958px;
}
.go-ImaOma-X3e {
   top: 110px;
   left: 208px;
}
.go-ImaOma-X3f {
   top: 110px;
   left: 514px;
}
.go-ImaOma-X3g {
   top: 110px;
   left: 817px;
}



.X4 {
   width: 100%;
   left: 0;
   top: 560px;
   display: none;
   position: absolute;
   transition: 0.5s ease-in-out;
}

.go-SulOma-IntAff-X5a {
   left: 162px;
}
.go-SulOma-IntAff-X5b {
   left: 499px;
}
.go-SulOma-IntAff-X5c {
   left: 828px;
}
.go-SulOma-IntAff-X5d {
   top: 110px;
   left: 162px;
}
.go-SulOma-IntAff-X5e {
   top: 110px;
   left: 499px;
}
.go-SulOma-IntAff-X5f {
   top: 110px;
   left: 828px;
}


.go-SulZan-ForAff-X5a {
   left: 35px;
}
.go-SulZan-ForAff-X5b {
   left: 343px;
}
.go-SulZan-ForAff-X5c {
   left: 650px;
}
.go-SulZan-ForAff-X5d {
   left: 951px;
}
.go-SulZan-ForAff-X5e {
   top: 110px;
   left: 35px;
}
.go-SulZan-ForAff-X5f {
   top: 110px;
   left: 343px;
}
.go-SulZan-ForAff-X5g {
   top: 110px;
   left: 650px;
}
.go-SulZan-ForAff-X5h {
   top: 110px;
   left: 951px;
}

.go-SulZan-IntAff-X5a {
   left: 162px;
}
.go-SulZan-IntAff-X5b {
   left: 499px;
}
.go-SulZan-IntAff-X5c {
   left: 828px;
}
.go-SulZan-IntAff-X5d {
   top: 110px;
   left: 340px;
}
.go-SulZan-IntAff-X5e {
   top: 110px;
   left: 653px;
}

/* eof theme */



/* bof liste */

h1 > div.AR {
   color: #ffffff;
   float: right;
   font-size: 14px;
   margin-top: -0;
}

div.column{
   width: 1150px;
   position: absolute;
   text-align: center;
   display: block;
   height: 599px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: auto;
   left: 40px;
   top: 130px;
}

div.column .bt{
   display: inline-block;
   font-size: 17px;
   margin-bottom: 32px;
   position: relative;
}

#liste .bt {
   height: 84px;
   line-height: 40px;
   width: 100%;
   margin-bottom: 18px;
}

#scrollDown, #scrollUp {
   top: 735px;
   display: none;
   background-color: #37474f;
   position: absolute;
   z-index: 5000;
   padding: 14px 100px 8px;
   border-bottom: 8px solid #7C979E;
}
#scrollDown:hover, #scrollUp:hover {
   background-color: #ff3d00;
}
#scrollDown {
    left: 320px;
}
#scrollUp {
   left: 600px;
}

/* eof liste */

