<h1></h1>

<div id="viewer">
    <div class="onePage">
        <img src="">
    </div>
</div>

<div id="info">
    <div class="description AR"></div>
    <div class="description EN"></div>
</div>
<div id="debug">
</div>

<a id="btPagerLeft" class="hover hidden" href="#"></a>
<a id="btPagerRight" class="hover hidden" href="#"></a>
<div id="pager"></div>
<div id="pager-scroll"></div>

<bt id="btPreviousStep" class="hover" href="#" title=""><span class='AR'>السابق</span><br/><span class='EN'>Previous</span></bt>
<bt id="btNextStep" class="hover" href="#" title=""><span class='AR'>التالي</span><br/><span class='EN'>Next</span></bt>
<bt class="btBackHome hover" title="<span class='AR'>الصفحة الرئيسة </span><br/><span class='EN'>Home page</span>"></bt>
<bt id="btTopBis" class="hover" href="#" title="<span class='AR'>المحتويات</span><br/><span class='EN'>Content</span>"></bt>
