<div id="theme-title">
    <a href="#" class="reload"><img src="img/National_emblem_of_Oman_1225x1145.png"></a>
    <h1>
    <span class="AR">المـعـرض الـدائـم للـوثـائـق والمـحـفـوظـات الـوطـنـيـة</span><br/>
    <span class="EN">National Records & Archives Permanent Exhibition</span>
    </h1>
</div>
<div id="theme-choose">
    <div class="EN">Choose a theme <span class="arrow">🠋</span></div>
    <div class="AR"> إختيار الموضوع<span class="arrow">🠋</span></div>
</div>

<div id="ariane">
    <div><span class="level0 AR"></span><span class="level1 AR"></span><span class="level2 AR"></span><span class="level3 AR"></span><span class="AR start">♦ </span></div>
    <span class="EN start">♦ </span><span class="level0 EN"></span><span class="level1 EN"></span><span class="level2 EN"></span><span class="level3 EN"></span>
</div>

<div id="home" class="X0 line" data-top="530px" data-level="0">
    <a href="#" class="bt go-X1-SulOma col3-3"><span class="multilineBt"><span class="AR">دولة البوسعيد<br>سلاطين عمان</span><span class="EN">Al Bu Said State<br>Sultans Of Oman</span></span></a>
    <a href="#" class="bt go-X1-SulZan col2-3"><span class="multilineBt"><span class="AR">دولة البوسعيد<br>سلاطين زنجبار</span><span class="EN">Al Bu Said State<br>Sultans Of Zanzibar</span></span></a>
    <a href="#" class="bt go-X1-AlYaaSta col1-3"><span class="multilineBt"><span class="AR">دولة اليعاربة</span><span class="EN">Al Yaariba State</span></span></a>
    <a href="#" class="bt go-X1-ImaOma col3-3 lin2"><span class="multilineBt"><span class="AR">إمامة عمان</span><span class="EN">Imamat Oman</span></span></a>
    <a href="Man" class="bt col2-3 lin2"><span class="multilineBt"><span class="AR">المخطوطات</span><span class="EN">Manuscripts</span></span></a>
    <a href="MapPla" class="bt col1-3 lin2"><span class="multilineBt"><span class="AR">خرائط ومخططات</span><span class="EN">Maps & Plans</span></span></a>
</div>

<div id="SulOma" class="X1 line" data-top="600px" data-level="1">
    <a href="#" class="bt go-X2-SulOma-ForAff col2-2"><span class="multilineBt"><span class="AR">شؤون خارجية</span><span class="EN">Foreign Affairs</span></span></a>
    <a href="#" class="bt go-X2-SulOma-IntAff col1-2"><span class="multilineBt"><span class="AR">شؤون داخلية</span><span class="EN">Internal Affairs</span></span></a>
</div>

<div id="SulOma-ForAff" class="X2 line" data-top="530px" data-level="2">
    <a href="#" class="bt go-X3-SulOma-ForAff-PolAffTre col3-3"><span class="multilineBt"><span class="AR">شؤون سياسية ومعاهدات</span><span class="EN">Political Affairs & Treaties</span></span></a>
    <a href="SulOma-ForAff-MarTraMilAff" class="bt col2-3"><span class="multilineBt"><span class="AR">نقل بحري وشؤون عسكرية</span><span class="EN">Maritime Transport & Military Affairs</span></span></a>
    <a href="SulOma-ForAff-ComEcoAff" class="bt col1-3"><span class="multilineBt"><span class="AR">شؤون تجارية وإقتصادية</span><span class="EN">Commercial & Economic Affairs</span></span></a>
    <a href="#" class="bt go-X3-SulOma-ForAff-CouConMedVis col3-3 lin2"><span class="multilineBt"><span class="AR">تودد، وأوسمة، وزيارات، وتعازي</span><span class="EN">Courtesy, Medals, Visits & Condolences</span></span></a>
    <a href="SulOma-ForAff-PubHealEdu" class="bt col2-3 lin2"><span class="multilineBt"><span class="AR">الصحة والتعليم</span><span class="EN">Public Health & Education</span></span></a>
    <a href="SulOma-ForAff-PreRel" class="bt col1-3 lin2"><span class="multilineBt"><span class="AR">قصاصات صحفية</span><span class="EN">Press Cuttings</span></span></a>
</div>

<div id="SulOma-ForAff-PolAffTre" class="X3 line" data-top="600px" data-level="3">
    <a href="SulOma-ForAff-PolAff" class="bt col2-2"><span class="multilineBt"><span class="AR">شؤون سياسية</span><span class="EN">Political Affairs</span></span></a>
    <a href="SulOma-ForAff-Tre" class="bt col1-2"><span class="multilineBt"><span class="AR">معاهدات</span><span class="EN">Treaties</span></span></a>
</div>

<div id="SulOma-ForAff-CouConMedVis" class="X3 line" data-top="600px" data-level="3">
    <a href="SulOma-ForAff-CouCon" class="bt col3-3"><span class="multilineBt"><span class="AR">تودد وتعازي</span><span class="EN">Courtesy & Condolences</span></span></a>
    <a href="SulOma-ForAff-Med" class="bt col2-3"><span class="multilineBt"><span class="AR">أوسمة</span><span class="EN">Medals</span></span></a>
    <a href="SulOma-ForAff-Vis" class="bt col1-3"><span class="multilineBt"><span class="AR">زيارات</span><span class="EN">Visits</span></span></a>
</div>

<div id="SulOma-IntAff" class="X2 line" data-top="530px" data-level="2">
    <a href="SulOma-IntAff-PolAffMil" class="bt col3-3"><span class="multilineBt"><span class="AR">شؤون سياسية وشؤون عسكرية</span><span class="EN">Political & Military Affairs</span></span></a>
    <a href="SulOma-IntAff-MarTraTraCus" class="bt col2-3"><span class="multilineBt"><span class="AR">نقل بحري، وتجارة، وجمارك</span><span class="EN">Maritime Transport, Trade & Customs</span></span></a>
    <a href="SulOma-IntAff-MedCouCon" class="bt col1-3"><span class="multilineBt"><span class="AR">أوسمة، وتودد، وتعازي</span><span class="EN">Medals, Courtesy & Condolences</span></span></a>
    <a href="#" class="bt go-X3-SulOma-IntAff-RelAffJusAffWilInh col3-3 lin2"><span class="multilineBt"><span class="AR">شؤون دينية، وشؤون عدلية، ووصايا، وميراث</span><span class="EN">Religious Affairs, Justice Affairs, Wills & Inheritance</span></span></a>
    <a href="SulOma-IntAff-Edu" class="bt col2-3 lin2"><span class="multilineBt"><span class="AR">التعليم</span><span class="EN">Education</span></span></a>
    <a href="SulOma-IntAff-PubHea" class="bt col1-3 lin2"><span class="multilineBt"><span class="AR">الصحة</span><span class="EN">Public Health</span></span></a>
</div>

<div id="SulOma-IntAff-RelAffJusAffWilInh" class="X3 line" data-top="600px" data-level="3">
    <a href="SulOma-IntAff-RelAff" class="bt col3-3"><span class="multilineBt"><span class="AR">شؤون دينية</span><span class="EN">Religious Affairs</span></span></a>
    <a href="SulOma-IntAff-JusAff" class="bt col2-3"><span class="multilineBt"><span class="AR">شؤون عدلية</span><span class="EN">Justice Affairs</span></span></a>
    <a href="SulOma-IntAff-WilInh" class="bt col1-3"><span class="multilineBt"><span class="AR">وصايا وميراث</span><span class="EN">Wills & Inheritance</span></span></a>
</div>

<div id="SulZan" class="X1 line" data-top="600px" data-level="1">
    <a href="#" class="bt go-X2-SulZan-ForAff col2-2"><span class="multilineBt"><span class="AR">شؤون خارجية</span><span class="EN">Foreign Affairs</span></span></a>
    <a href="#" class="bt go-X2-SulZan-IntAff col1-2"><span class="multilineBt"><span class="AR">شؤون داخلية</span><span class="EN">Internal Affairs</span></span></a>
</div>

<div id="SulZan-ForAff" class="X2 line" data-top="530px" data-level="2">
    <a href="SulZan-ForAff-TreAgrePolAffMilAff" class="bt col4-4"><span class="multilineBt"><span class="AR">معاهدات، وإتفاقيات، وشؤون سياسية، وشؤون عسكرية</span><span class="EN">Treaties & Agreements, Political Affairs & Military Affairs</span></span></a>
    <a href="SulZan-ForAff-ConCor" class="bt col3-4"><span class="multilineBt"><span class="AR">مراسلات قنصلية</span><span class="EN">Consular Correspondences</span></span></a>
    <a href="SulZan-ForAff-EcoComMarTraCusTax" class="bt col2-4"><span class="multilineBt"><span class="AR">إقتصاد وتجارة، ونقل بحري، وجمارك ورسوم</span><span class="EN">Economy, Commerce, Maritime Transport, Customs & Taxes</span></span></span></a>
    <a href="#" class="bt go-X3-SulZan-ForAff-CouMedVis col1-4"><span class="multilineBt"><span class="AR">تودد، وأوسمة، وزيارات</span><span class="EN">Courtesy, Medals & Visits</span></span></span></a>
    <a href="SulZan-ForAff-JusAff" class="bt col3-3 lin2"><span class="multilineBt"><span class="AR">شؤون عدلية</span><span class="EN">Justice Affairs</span></span></a>
    <a href="SulZan-ForAff-Cul" class="bt col2-3 lin2"><span class="multilineBt"><span class="AR">ثقافة</span><span class="EN">Culture</span></span></a>
    <a href="#" class="bt go-X3-SulZan-ForAff-NewPreCut col1-3 lin2"><span class="multilineBt"><span class="AR">أخبار وقصاصات صحفية</span><span class="EN">News & Press Cuttings</span></span></a>
</div>

<div id="SulZan-ForAff-CouMedVis" class="X3 line" data-top="600px" data-level="3">
    <a href="SulZan-ForAff-Cou" class="bt col3-3"><span class="multilineBt"><span class="AR">تودد</span><span class="EN">Courtesy</span></span></a>
    <a href="SulZan-ForAff-Med" class="bt col2-3"><span class="multilineBt"><span class="AR">أوسمة</span><span class="EN">Medals</span></span></a>
    <a href="SulZan-ForAff-Vis" class="bt col1-3"><span class="multilineBt"><span class="AR">زيارات</span><span class="EN">Visits</span></span></a>
</div>

<div id="SulZan-ForAff-NewPreCut" class="X3 line" data-top="600px" data-level="3">
    <a href="SulZan-ForAff-New" class="bt col2-2"><span class="multilineBt"><span class="AR">أخبار</span><span class="EN">News</span></span></a>
    <a href="SulZan-ForAff-PreCut" class="bt col1-2"><span class="multilineBt"><span class="AR">قصاصات صحفية</span><span class="EN">Press Cuttings</span></span></a>
</div>

<div id="SulZan-IntAff" class="X2 line" data-top="530px" data-level="2">
    <a href="SulZan-IntAff-AdmAff" class="bt col3-3"><span class="multilineBt"><span class="AR">شؤون إدارية</span><span class="EN">Administration Affairs </span></span></a>
    <a href="SulZan-IntAff-ComMarTra" class="bt col2-3"><span class="multilineBt"><span class="AR">التجارة والنقل البحري</span><span class="EN">Commerce & Maritime Transport </span></span></a>
    <a href="SulZan-IntAff-CouGifMed" class="bt col1-3"><span class="multilineBt"><span class="AR">تودد و هدايا وأوسمة</span><span class="EN">Courtesy, Gifts & Medals</span></span></a>
    <a href="SulZan-IntAff-JusAff" class="bt col3-3 lin2"><span class="multilineBt"><span class="AR">شؤون عدلية</span><span class="EN">Justice Affairs</span></span></a>
    <a href="SulZan-IntAff-Pho" class="bt col2-3 lin2"><span class="multilineBt"><span class="AR">صور فوتوغرافية</span><span class="EN">Photos</span></span></a>
    <a href="SulZan-IntAff-Pos" class="bt col1-3 lin2"><span class="multilineBt"><span class="AR">بطاقات بريدية</span><span class="EN">Postcards</span></span></a>
</div>

<div id="AlYaaSta" class="X1 line" data-top="600px" data-level="1">
    <a href="AlYaaSta-ForAff" class="bt col2-2"><span class="multilineBt"><span class="AR">شؤون خارجية</span><span class="EN">Foreign Affairs</span></span></a>
    <a href="AlYaaSta-LocAdmJusAff" class="bt col1-2"><span class="multilineBt"><span class="AR">الإدارة المحلية وشؤون عدلية</span><span class="EN">Local Administration & Justice Affairs</span></span></a>
</div>

<div id="ImaOma" class="X1 line" data-top="600px" data-level="1">
    <a href="ImaOma-LocAdmAff" class="bt col3-3"><span class="multilineBt"><span class="AR">شؤون إدارية محلية</span><span class="EN">Local Administration Affairs </span></span></a>
    <a href="ImaOma-JusRelAff" class="bt col2-3"><span class="multilineBt"><span class="AR">شؤون عدلية وشؤون دينية</span><span class="EN">Justice & Religious Affairs</span></span></a>
    <a href="ImaOma-CouEle" class="bt col1-3"><span class="multilineBt"><span class="AR">تودد ورثاء</span><span class="EN">Courtesy & Elegy</span></span></a>
</div>

<bt id="btBackParent" class="hover" title="<span class='AR'>السابق</span><br/><span class='EN'>Previous</span>"></bt>
<bt class="btBackHome hover" title="<span class='AR'>الصفحة الرئيسة </span><br/><span class='EN'>Home page</span>"></bt>